/*color palette #d7e7e9 #2c3037 #49463d */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Square+Peg&family=Yellowtail&display=swap');


* {
    margin: 0;
    padding: 0;
    background-color: #d7e7e9;
    color: #2c3037;
    box-sizing: border-box;
}

@media screen and (min-width: 600px) {
    /* responsividade */
}

/* Menu */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid rgb(26, 24, 24);
    position: fixed;
    width: 100%;
    
}

nav img {
    height: 6em;
    text-align: center;
}

.menu {
    text-decoration: none;
    font-family: 'Square Peg', cursive;
    font-size: 2em;
    text-align: center;
    margin: 30px;
   
}

.menu:hover {
    background-color: rgb(80, 80, 77);
    color: white;
    cursor: pointer;
    padding: 10px;
    transition-duration: 0.3s;

}

/* Menu principal */
.container {
    background-color:#d7e7e9;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    

}

.container img {
    height: 80vh;
    margin-top: 6em;
    margin-left: 2em;
    
}

h1{
    font-family: 'Yellowtail', cursive;
}

.container p {
    font-family: 'Square Peg', cursive;
    font-size:1em;
}

.titulo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    text-align: center;
    margin-left: 3em;
    
}

/* Lançamento */
.conteudo-lançamento {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgb(24, 23, 23);
}

.folder {
    height: 40em;
    width: 100%;
   
}

#container2 h3 {
    padding: 20px;
    margin-left: 39%;
    font-size: 2em;
    margin-bottom: 10px;
}

.lançamento {
    box-shadow: 5px 5px 5px 5px rgb(100, 89, 89);
    margin-top: 10px;
    margin-bottom: 15px;
    
}

.lançamento img {
    width: 15em; 
    
}

.lançamento:hover{
    background-color: #51386883;
 
}

a{
    text-decoration: none;
    text-align: center;
    color: black;
}

a:hover{
    color: rgb(248, 242, 242);
}

#login:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Comfort Club */
.club{
    color: rgb(10, 10, 10);
    width: 100%;
    padding: 30px;
    text-align: center;
   
    
    
}
.texto{
    border: 2px solid black;
    padding: 15px;
   
}
.texto h2{
    padding: 30px;
   font-size: 5em;
   font-family: 'Roboto', sans-serif;
}

.texto p{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.texto button{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #ffff;
    border: none;
    background-color: rgb(78, 78, 77);
    color: white;
}

/* ESTILIZAÇÃO DO FOOTER ABAIXO */
/* #d7e7e9 #2c3037 #49463d */ */

.footerContainer{
margin: 0 auto;
width: 100%;
height: 10vw;
}

.footerMenus{
    display: flex;
    justify-content: space-around;
    /* list-style-type: none; */
    align-items: center;
    background-color: #d7e7e9;
    border: 1px solid rgb(134, 130, 130);
    border-radius: 10px ;

}
.footItemMenu{
    list-style: none;
    text-align: center!important;
    margin: 20px;
    color: #49463d; 
    font-weight: bold;
    font-size: 10px;

}
.footTituloMenu{
    margin:10px;
    font-size: 0.8em;
    margin-bottom: 20px;
    text-align: center!important;
    color: #49463d;
}

.footItemMenu:hover{
    color: black;
    text-decoration:underline;

}
/*color palette #d7e7e9 #2c3037 #49463d */



/* Responsividade */
@media screen and (max-width: 480px) {
    /* Menu */
    
    nav {
        width: 100%;
    }
    
    nav img {
        height: 3em;
        
    }
    
    .menu {
        
        font-size: 1.5em;
        
       
    }
    /* Conteudo */
    .container{
       
        height: 100vh;
        width: 100vw;
    }
    .titulo-principal{
        font-size: 20px;
        margin-top: 30px;
        margin-left: 10px;
    }
    .container img{
        width: 15em;
        height: 100vh;
    }
    /* Lançamento */
    .folder{
        width: 100vw;
        height: 70vh;
        padding: 0.5em;
        
    }
    .conteudo-lançamento{
       display:flex ;
       flex-direction: column;
       
       
       
    }
    #container2{
        margin: 10px;
    }

    #container2 h3{
        font-size: 1em;
        text-align: center;
       margin-right: 50%;

    }


    .lançamento{
        margin-left: 10%;
        width: 55vw;
       
    }
    .lançamento img{
        width: 15em;
        height: 15em;
       
       
    }
    .lançamento h2{
        font-size: 1em;
    }

    /* Comfort Club */
    .club{
        display: flex;
        flex-direction: row;
        justify-items: center;
        border-top: 3px solid rgb(105, 102, 102);
        
    }
    
  
   
    .texto h2{
        font-size: 2em;
        margin-left: 8%;
        
       
    }
    .texto p{
        font-size: 1.1em;
        margin-left: 5%;
       
    }

    button{
        margin-left: 5%;
        margin-top: 10px;
      
    }
}